@page
@model FinalWebProject.Pages.Admin.IndexModel
@{
}

<h4 class = "display-4 text-center">Admin Panel</h4>
<div class = "container mt-3 ">
	<div class = "btn-group d-flex align-items-center justify-content-center w-75 mx-auto">
		<a asp-page="./WarehouseManagement/Index" class = "btn btn-primary">Warehouse Management</a>
		<a asp-page="./ManufacturerManagement/Index" class = "btn btn-danger">Manufacturer Management</a>
		<a asp-page="./PhoneManagement/Index" class = "btn btn-warning">Phone Management</a>
		<a asp-page="./AccountantManagement/Index" class = "btn btn-success">Accountant Management</a>
		<a asp-page="./ResellerManagement/Index" class = "btn btn-info">Reseller Management</a>
	</div>
</div>