@page
@model FinalWebProject.Pages.Authetication.RegisterModel
@{
}

<h4 class = "text-center display-4">Register Account</h4>
<div class = "container">
	<div class = "row">
		<div class = "col-lg-4 col-md-6 mx-auto border rounded mt-3 py-3 px-4">
			<form method = "post">
				<div class = "form-group mb-3">
					<label asp-for="AccountantRegisterViewModel.AccountantEmail"></label>
					<input asp-for="AccountantRegisterViewModel.AccountantEmail" class="form-control" />
					<span asp-validation-for="AccountantRegisterViewModel.AccountantEmail" class="text-danger"></span>
				</div>
				<div class = "form-group mb-3">
					<label asp-for="AccountantRegisterViewModel.AcccountantName"></label>
					<input asp-for="AccountantRegisterViewModel.AcccountantName" class="form-control" />
					<span asp-validation-for="AccountantRegisterViewModel.AcccountantName" class="text-danger"></span>
				</div>
				<div class = "form-group mb-3">
					<label asp-for="AccountantRegisterViewModel.AccountantPassword"></label>
					<input type = "password" asp-for="AccountantRegisterViewModel.AccountantPassword" class="form-control" />
					<span asp-validation-for="AccountantRegisterViewModel.AccountantPassword" class="text-danger"></span>
				</div>
				<div class="form-group mb-3">
					<label asp-for="AccountantRegisterViewModel.WarehouseID" class="control-label"></label>
					<select asp-for="AccountantRegisterViewModel.WarehouseID" class ="form-control" asp-items="@Model.WarehouseList"></select>
				</div>
				<button type = "submit" value = "Register" class = "btn btn-primary">Register</button>
				<button type = "reset" class = "btn btn-outline-danger">Reset</button>
			</form>
		</div>
	</div>
</div>