@page
@model FinalWebProject.Pages.AccountantSite.IndexModel
@{
}

<h4 class = "display-4 text-center">Accountant Panel</h4>
<div class = "container mt-3 ">
	<div class = "btn-group d-flex align-items-center justify-content-center w-50 mx-auto">
		<a asp-page="./PhonesListing" class = "btn btn-primary">Import Phones</a>
		<a asp-page="./ReceiptListing" class = "btn btn-success">View Receipts</a>
		<a asp-page="./ImportOrderListing" class = "btn btn-info">View Pending Agent Order</a>
	</div>
</div>