@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var userType = HttpContext.Session.GetString("Type");
}

<div class="text-center">
    <h1 class = "display-4">MTT Cooperation</h1>
    <p>Welcome to the MMT Distributing System. Let's get started</p>
    <div class = "btn-group">
        @{
            if(userType != null && userType.Equals("Reseller"))
            {
                <a asp-page = "/ResellerSite/Index" class = "btn btn-primary">Reseller Panel</a>
                <a asp-page = "/Authentication/Logout" class  ="btn btn-danger">Logout</a>
            }
            else if (userType != null && userType.Equals("Accountant"))
            {
                <a asp-page = "/AccountantSite/Index" class = "btn btn-primary">Accountant Panel</a>
                        <a asp-page = "/Authentication/Logout" class  ="btn btn-danger">Logout</a>
            }
            else if (userType != null && userType.Equals("Admin"))
            {
                <a asp-page = "/Admin/Index" class = "btn btn-primary">Admin Panel</a>
                <a asp-page = "/Authentication/Logout" class  ="btn btn-danger">Logout</a>
            }
            else
            {
                <a class = "btn btn-primary" asp-page="/Authentication/Login">Login</a>
            }
        }
    </div>
</div>
